body {
    background-color: whitesmoke;
}
.mainContainer {
    background-color: darkgray;
    border: black 1px solid;
    padding: 4%;
}
.navbar {
    background-color: darkgray;
    border-bottom: black 1px solid;
    padding: 0.5%;
}